/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
    color: #fff;
    background-color: #4caf50;
  }
  
.error-snackbar {
color: #fff;
background-color: #f44336;
}

.example-spacer {
  flex: 1 1 auto;
}

.p {
  margin: 0;
  color: var(--gray-700);
}

.userInfo {
  padding-top: 15px;
  font-size: smaller;
  color: #1A1B1F;
}